.amount-selector-container {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin-bottom: 1em;

    .sign {
        cursor: pointer;
        border-radius: 50%;
    }
    
    .number-container {
        background: rgb(255, 218, 143);
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}