@import "./index.scss";

.home {
    &-video-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &-fresh-honey {
        height: 90vh;
        display: flex;
        flex-direction: column;
        
        &-title {
            margin-bottom: 0;
        }
        
        .subtitle {
            margin: 0;
        }

        .bottom {
            margin: auto 0 10vw 0;
            background: rgba(255, 255, 255, 0.669);
            padding: 1rem
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;

            button {
                @include buttonStyle;
            }
        }
    }

    &-blossoming-flavor {
        .title {
            margin-bottom: 0;
        }
        
        .carousel-container {
            position: relative;
            padding-bottom: 100%;
        }
        
        img {
            width: 50%;
            height: calc(100% - 8rem);
            object-fit: cover;
            position: absolute;
        }
    
        @for $i from 1 through 3 {
            img:nth-child(#{$i}) {
                left: #{$i*12.5%};
                top: #{$i*2}rem;
            }
        }
    
        .carousel-dots {
            display: flex;
            justify-content: center;
    
            span {
                margin: 0 0.25rem;
                font-size: 3rem;
            }
        }

        button {
            @include buttonStyle;
            margin: auto;
        }
    }
    &-our-process {
        margin-top: 10vw;
        width: 100%;
        position: relative;
        // left: -50%;
        // background: #e7e9e9;

        .title {
            margin-top: 0;
        }

        .img-container {
            display: grid;
            grid-template: auto auto / auto auto;
            img {
                width: 100%;
            }
    
            #worker-table {
                margin: auto 0;
                grid-row: 1 / -1;
            }
    
            #worker-vial {
                grid-column: 2;
            }
        }
    }

    &-family-business {
        padding-bottom: 10vw;

        .portrait-wrapper {
            img {
                width: 100%;
                height: 50vw;
                object-fit: cover;
            }
        }

        button {
            @include buttonStyle;
            margin: 1em auto;
        }
    }
    
    
}

@media (min-width: 768px) {
    .home {
        &-blossoming-flavor {
            .carousel-container {
                padding-bottom: 0;
                width: 600px;
                height: 600px;
                margin: auto;
            }
        }
    }
}