* {
    box-sizing: border-box;
}

:root {
    --app-max-width: 1300px;
}

body {
    margin: 0 10%;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    // position: relative;
    overflow: hidden;
    max-width: var(--app-max-width);
    margin: auto;
}

@mixin buttonStyle {
    display: block;
    padding: 0.75em 1em;
    border: none;
    background: rgb(242, 167, 6);
    color: rgb(0, 0, 0);
}
