.menu-container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-top: none;
    border-bottom: none;
    background: white;
    z-index: 3;
    overflow: hidden;
    max-height: 0px;

    a {
        margin: 1em 0;
        text-decoration: none;
        color: black;
        z-index: 4;
    }
}

