body {
    margin: 0 1em;
}

.app-container {
    position: relative;
}

/* ------------------------HEADER-------------------------- */

.header-container {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header-container-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* ------------------------MULTIPLE-------------------------- */
.header-container-cart:hover,
.header-container-menu:hover,
.products-container button:hover,
.amount-selector-signs:hover,
.cart-container-card-close:hover,
.proceed-to-checkout-link:hover,
.place-order:hover {
    cursor: pointer;
}

.menu-container,
.cart-container {
    border: 1px solid;
    border-top: none;
    position: absolute;
    width: 100%;
    background: white;
    z-index: 1;
}

.header-container a,
.menu-container > a {
    margin: 1em 0;
    text-decoration: none;
    color: black;
}     

.products-container-card,
.cart-container-card,
.checkout-container-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.products-container-card > img,
.cart-container-card > img,
.checkout-container-card > img {
    width: 50%;
    object-fit: cover;
}

.products-container-card-info,
.cart-container-card-info,
.checkout-container-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.products-container-card-info > p,
.cart-container-card-info > p,
.checkout-container-card-info > p {
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/* ------------------------MENU-------------------------- */

.menu-container {
    display: flex;
    flex-direction: column;
}


/* ------------------------PRODUCTS-------------------------- */

.products-container-card:first-child {
    margin-top: 1rem;
}

.products-container-card-info > button {
    margin: 0;
    font-size: 1rem;
    font-family: initial;
    border: 1px solid;
    background: white;
    color: black;
}

/* ------------------------AMOUNT SELECTOR-------------------------- */

.amount-selector-container {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin-bottom: 1em;
}

.amount-selector-text {
    width: 30px;
    height: 30px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------CART-------------------------- */

.cart-container-card {
    background: white;
    margin: 2rem;
    position: relative;
}

.cart-container-card-close {
    position: absolute;
    color: black;
    background: white;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    top: -13px;
    left: -13px;
}

.proceed-to-checkout-link {
    display: block;
    width: fit-content;
    margin: 1rem auto;
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 0.5rem 1rem;
}


/* ------------------------CART-------------------------- */

.checkout-container-calc {
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.place-order {
    display: block;
    margin: 1rem auto;
    background: white;
    color: black;
    border: 1px solid;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: inital;
}